@model BLL.ProudctVM
@{
    ViewBag.Title = "ProudctDetails";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<input type="hidden" id="hdnid" value="@Model.Id" />
<section class="container text-right my-2">
    <h2 class="text-muted text-center w-100 my-5">@Model.Name</h2>
    <div class="row  justify-content-center mb-4 align-items-start">
        <div class=" col-md-8">
            <div class="card rounded-lg shadow-sm">
                <div class="card-body" id="products-cart">

                    <div class="w-100">
                        <img src="~/Image/@Model.Image" width="300" height="300" alt="">
                    </div>
                    <div class="w-100 mt-3">
                        <h4 class="mb-3">التفاصيل</h4>
                        <p>@Model.Description_A</p>
                        <hr class="w-auto m-4">
                        <p class=" text-left">@Model.Description_E</p>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded-lg shadow-sm">
                <div class="card-body">
                    <div id="par_@Model.Id" style="margin-bottom: 3%;" class="d-flex font-weight-bold flex-wrap justify-content-around align-items-center">
                        <h4 class="m-0">السعر</h4>

                        <h4 class="m-2" style="min-width: 70px;" id="totalprice">@Model.TotalPrice جنيه</h4>
                        <hr class="w-100">
                        <div class="d-flex w-100 flex-wrap justify-content-around align-items-center">
                            <label for="" class="w-100 text-muted"><small>الكمية</small></label>
                            <div dir="ltr" style="max-width: 150px;">
                                <input min="0" style="box-shadow: none !important;" value="1" dir="ltr" type="number" id="numOfProducts" name="numOfProduct1" class="numOfProducts">

                            </div>
                            <span style="min-width: 70px;"><span id="priceOfP"></span> جنيه</span>
                            <a class="confirmDelete" href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="حذف المنتج"><em class="fa fa-trash text-danger lead"></em></a>

                        </div>
                    </div>
                    <button id="@Model.Id" class="w-100 rounded-lg btn btn-primary addToCartBtn">أضف إلى العربة</button>

                </div>
            </div>

        </div>


    </div>
</section>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script src="~/dist/js/input-spinner.js"></script>
<script>
    $(document).ready(function () {
        var id = $('#hdnid').val();
        cartArr = localStorage.getItem('easy-dose-cart') ? JSON.parse(localStorage.getItem('easy-dose-cart')).map(e => e.id) : [];
        for (var i = 0; i < cartArr.length; i++) {
            if (id == cartArr[i]) {
                const t = ' <button  type="button" disabled class="btn-gray btn rounded align-self-end  py-2 w-100">  تمت إضافته <em class="fa fa-check"></em> </button>'
                $('#par_' + id).html(t);
                $('#' + id).remove();
                break;
            }

        }
    })

    const price = parseInt($('#totalprice').text().replace("جنيه", " "));
    $(".numOfProducts").inputSpinner();
    $('#priceOfP').text(price);
    $(".numOfProducts").on('change', () => {
        $('#priceOfP').text(price * $(".numOfProducts").val());
    })
    var num = 1;
    $(".numOfProducts").change(function (event) {
        num = this.value
    })
    $('.addToCartBtn').click((e) => {
        const arr = localStorage.getItem('easy-dose-cart') ? JSON.parse(localStorage.getItem('easy-dose-cart')) : [];
        arr.push({ id: e.target.id, value: num });
        localStorage.setItem('easy-dose-cart', JSON.stringify(arr));
        $('#numOfCarts').text(arr.length)
        $('#numOfCarts2').text(arr.length)
        Swal.fire({
            title: 'تمت الاضافة اللي العربه بنجاح',
            icon: 'success',
            confirmButtonText: `تابع التسوق`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {

                window.location = "/User/Index"
            }
        })
    });


</script>
